.jumbotron{
    background-image: url(../img/HeaderImg.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
}

.navbar{
    background-color: beige;
    position: absolute;
    height: 100px;
    width: 100%;
}

.capybara{
    background-image: url("../img/capybaraBack.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
  }

.contentobi{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.borderlayout{

    align-items: center;
    border-radius: 14px;
    background: #ffffff;
    box-shadow:  5px -5px 10px #D8d1d1,
    -5px 5px 10px #ffffff;
    color: #8C6A5C;
    padding: 50px;
}

  .animal{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

p{
    font-family: 'Quicksand', sans-serif;
}

h1, h2{
    font-family: 'Banabo', sans-serif;
    font-size: 40px;
}

@font-face {
    font-family: 'Banabo';
    src: url(../font/banabo/Banabo.ttf);
  }

  @font-face {
    font-family: 'Quicksand';
    src: url(../font/quicksand/Quicksand.otf);
  }